<section id="catagorie" class="container">
  <div class="row">
    <div class="col-md-12">
      <input placeholder="Procure o produto aqui ..."  type="text" id="search" name="search" value="" class="search-bar">
      <button type="button" class="btn btn-success search-button"><img class="lupa" src="../../../assets/img/lupa.png"></button>
    </div>
  </div>
</section>

		<!--Start
    ================================================== -->

    <section id="features">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="block back_vegan">
              <div class="media">
                  <div class="media-body">
                    <h4 class="media-heading">Vegano</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="block back_vegetarian">
              <div class="media">
                  <div class="media-body">
                    <h4 class="media-heading">Vegetariano</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="block back_Nvegetarian">
              <div class="media">
                  <div class="media-body">
                    <h4 class="media-heading ">Não Vegetariano</h4>
                </div>	
              </div>	
            </div>
          </div> 
        </div>	
      </div>	
    </section>	