.search-bar {
  /* margin: 0 100px 0 50px;
  min-width: 500px;
  width: -webkit-fill-available; */
  padding: 10px;
  border: solid 2px #90c322;
  border-radius: 50px;
  box-shadow: 0 0 4px rgb(0 0 0 / 30%);
  width: calc(100% - 4em);
}

.search-bar:focus-visible {
box-shadow: 0 0 17px rgb(144 195 34);
}

.search-button{
	border-radius: 33px;
  width: 45px;
  height: 45px;
  box-shadow: 0 0 4px rgb(0 0 0 / 30%);
  background-color: #90c322;
  border-color: #90c322;
  margin-left: 5px;
}

.lupa{
	width: 21px;
}

#catagorie .block {
	margin-top: 30px;
}

#catagorie .block .thumbnail {
	border: none;
	cursor: pointer;
}
#catagorie .block .thumbnail:hover .catagotie-head img {
 opacity: 0.7;
}
#catagorie .block .thumbnail a img  {
	width: 100%;
	border:1px solid #dedede;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
#catagorie .block .thumbnail a img:hover {
	opacity: 0.7;
}
#catagorie .block .thumbnail:hover h3 {
	color: #90c322;
}
#catagorie .block .thumbnail a  h3 {
	font-weight: 500;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
#catagorie .block .thumbnail .caption p {
	font-size: 14px;
	color: #4b4b4b;
	font-weight: 300;
}
#catagorie .block .thumbnail .caption {
	padding: 0;
}
.catagorie-box p span {
	font-weight: bold;
}
.catagorie-box .catagotie-head h3 {
	color: #121212;
}


.block-heading {
	background-image: url("../images/titleBorder.png");
	background-repeat: repeat-x;
	height: 20px;
	margin: 60px 0;
	text-align: center;
}

.block-heading h2 {
	background: #fff;
	display: inline-block;
	color: #000;
	margin-top: -28px;
	padding: 5px 30px 10px 30px;
	border: 1px solid #dedede;
}
.block-heading h2:hover {
	box-shadow: 0 0 5px #dedede;
}